<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="拓璞質優文理補習班" content="補習班, 附近補習班, 天母補習班, 推薦補習班">
  <meta name="description" content="這是間補習班, 位於天母的補習班,提供高品質教育與最佳升學率，同時也是間眾多家長推薦的推薦補習班">
  <meta name="keywords" content="補習班, 附近補習班, 天母補習班, 推薦補習班">
  <meta property="og:title" content="拓璞質優文理補習班">
  <meta property="og:description" content="這是間補習班, 位於天母的補習班,提供高品質教育與最佳升學率，同時也是間眾多家長推薦的推薦補習班">
  <meta property="og:image" content="https://thetopedu.github.io/">
  <meta property="og:url" content="https://thetopedu.github.io/">
  <meta property="og:type" content="補習班">
  <meta property="og:type" content="website">
  
</head>

<title>拓璞補習班</title>

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <div class="top ion ion-ios-arrow-up" title="Top"></div>

  {% include search.html %}

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>